<%= search_form_for @q, url: search_path do |f| %>
  <div>
    <%= f.search_field :book_name_cont %>  <!-- This will search the 'book_name' field -->
    <%= f.search_field :author_name_cont %> <!-- This will search the 'author_name' field -->
    <button type="submit" style="width: 100px; height: 25px;">
      検索ボタン
    </button>
  </div>
<% end %>
